html {
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

#main-screen {
  display: block;
  position: relative;
}

.main-col {
  padding: 0em;
  height: 100%;
  color: #3d02bd;
  width: 33.33%;
  float: left;
}

#main-col-1 {
  background-color: #e25bff;
}

#main-col-2 {
  background-color: #ddb1ff;
}

#main-col-3 {
  background-color: #fbefff;
}

.btn-img {
  color: #ffffff;
  background-color: #3d02bd;
}

#top-bar {
  width: 100%;
  margin-top: 0;
  background-color: #2a095f;
  color: #ffffff;
  border: 0;
  font-size: 3.5em;
  letter-spacing: 0.1em;
  opacity: 0.9;
  margin-bottom: 15px;
}

#bottom-bar {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  background-color: #3d02bd;
  color: #ffffff;
  border: 0;
  font-size: 2.5em;
  letter-spacing: 0.1em;
  margin-top: 15px;
  display: inline-block;
}

#show-button{
  display: none;
}
